<%- model_class = Story -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:subject) %>:</strong></dt>
  <dd><%= @story.subject %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mast_url) %>:</strong></dt>
  <dd><%= @story.mast_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:thumb_url) %>:</strong></dt>
  <dd><%= @story.thumb_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active_headline_id) %>:</strong></dt>
  <dd><%= @story.active_headline_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active_leadline_id) %>:</strong></dt>
  <dd><%= @story.active_leadline_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:section_id) %>:</strong></dt>
  <dd><%= @story.section_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              stories_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_story_path(@story), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              story_path(@story),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
