<% content_for :news_story do %>
<div class="page-header text-center">
  <div><%= image_tag @news.mast_url, class: "pa-img-masthead img-responsive" %></div>
  <div class="pa-page-header-headline"><%= @news.active_headline %></div>
  <span class="pa-page-header-section-line"><%= @news.filed_under %> - <%= time_ago_in_words(@news.updated_at)%> ago</span>
</div><div class="pa-elements-container">
  <div class="pa-content">
    <p><%= @news.active_leadline %></p></div>
  <hr>
  <%= render partial: "element", collection: @news_positions, as: :position %> <!-- Pass a collection of StoryElement class -->
</div>
<% end %>

<% content_for :similar_stories do %>
<div class="pa-similar-stories-container">
  <div class="pa-similar-stories-title text-center text-muted">Related Stories</div>
   <div class="row">
     <%= render partial: "similar_story", collection: @news.similar_stories, as: :story %>
   </div>
</div>
<% end %>

<% content_for :sources do %>
<div class="pa-sources-container">
  <div class="pa-source-title text-center text-muted">Sources</div>
  <%= render partial: "source", collection: @news_sources, as: :source %>
  <hr>
</div>
<% end %>