<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">Headlines
      <span class="badge pull-right small">
      <% hlCount = @story.headlines.count %>
      <%= pluralize(hlCount,'headline') %></span></h3> <!-- title and counter -->
  </div>  <!-- header -->

<ul class="list-group">    
  <% if @story.active_headline %>
  <li class="list-group-item active">
    <p class="pa-content"><%= @story.active_headline %></p>
  
    <p><div class="collapse" id="activeHeadlineEditForm">
    <div class="well well-sm">
      <%= form_tag(headline_path(@story.active_headline_id), method: 'patch') do %>
      <%= hidden_field_tag('story_id', @story.id) %>
      <div class="form-group" role="group">
        <%= text_area_tag(:headline, @story.active_headline, rows: 4, class: 'form-control input-sm') %>
      </div> <!-- textarea -->
      <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <%= link_to('Close', '#activeHeadlineEditForm', class: 'btn btn-default', role: 'button', data: {toggle: 'collapse'}, aria_expanded: false, aria_control: 'activeHeadlineEditForm') %>
        <%= submit_tag('Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }) %></div> <!-- close, save btn group -->
    <% end %>  
    </div> <!-- well -->
  </div></p> <!-- collapse -->

    <p><%= form_tag(headline_path(@story.active_headline_id), method: 'delete') do %>
    <%= hidden_field_tag('story_id', @story.id) %>
    <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#activeHeadlineEditForm"><i class="fa fa-pencil-square-o"></i> Edit</button>

         <%= submit_tag('Delete', class: 'btn btn-default btn-danger', data: {confirm: "Deleting the headline like this will permenantly destroy it. Are you sure you just don't want to add a new headline?"}) %>
        </div><% end %></p>
  </li> <!-- active headline -->
  <% else %>
  <li class="list-group-item list-group-item-danger text-center">
    <i class="fa fa-warning"></i> Warning -- No Active Headline!!<br>
      <span class="small">Please make one headline active.</span>
  </li> <!-- warning message -->
  <% end %>

<%= render partial: "headline_item", collection: @story.headlines, as: :headline %>

</ul> <!-- headlines list group -->

<div class="panel-footer">
<p><div class="collapse" id="newHeadlineCollapse" open=true >
          <div class="well well-sm">
            <%= form_tag(headlines_path, method: 'post') do %>
            <%= hidden_field_tag('story_id', @story.id) %>
            <div class="form-group" role="group">
            <%= text_area_tag(:headline, nil , rows: 4, class: 'form-control input-sm') %>
            </div> <!-- textarea -->
            <div class="btn-group btn-group-xs" role="group" aria-label="...">
              <%= link_to('Close', '#newHeadlineCollapse', class: 'btn btn-default', role: 'button', data: {toggle: 'collapse'}, aria_expanded: false, aria_control: 'newHeadlineCollapse') %>
            <%= submit_tag('Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }) %></div> <!-- close, save btn group -->
            <% end %>  
          </div> <!-- well -->
  </div></p><!-- collapse -->
<button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#newHeadlineCollapse">New Headline</button>
</div> <!-- footer -->
</div> <!-- headline panel -->
