<div class="panel panel-default"> <!-- Headlines Panel -->
  <div class="panel-heading"><h3 class="panel-title">Headlines<span class="badge pull-right"><%= @story.headlines.count %></span></h3></div> 
  <ul class="list-group">    
    <li class="list-group-item active"><%= @story.active_headline %>
      
    <p><div class="collapse" id="activeHeadlineEditForm">
        <div class="well well-sm">
          <%= form_tag(headlines_url(@story.active_headline_id), method: 'patch') do %>
          <%= hidden_field_tag('story_id', @story.id) %>
          <div class="form-group" role="group">
            <%= text_area_tag(:headline, @story.active_headline, rows: 4, class: 'form-control input-sm') %></div>
          <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <%= link_to('Close', '#activeHeadlineEditForm', class: 'btn btn-default', role: 'button', data: {toggle: 'collapse'}, aria_expanded: false, aria_control: 'activeHeadlineEditForm') %>
            <%= submit_tag('Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }) %></div>
        <% end %>  
        </div>
      </div></p> <!-- Collapse -->
  
    <p><div class="btn-group btn-group-xs" role="group" aria-label="...">
      <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#activeHeadlineEditForm"><i class="fa fa-pencil-square-o"></i> Edit</button>
      <button type="button" class="btn btn-default btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
      </div></p>
    </li> <!-- Active Headline -->

    <%= render partial: "headline", collection: @story.headlines, as: :headline %>
  </ul>
  <div class="panel-footer"><button type="button" class="btn btn-primary btn-xs">New Headline</button></div>
</div> <!-- headlines end -->