<!-- inactive headline list item -->

<% if @story.active_headline_id != headline.id %>
<li class="list-group-item">
  <%= headline.headline %>
  <% hl_collapse_name = 'headlineEditForm_' + headline.id.to_s %>
  <% hl_collapse_name_a = '#headlineEditForm_' + headline.id.to_s %>

<p><%= tag('div', class: 'collapse', id: hl_collapse_name, open: :true) %>
    <div class="well well-sm">
      <%= form_tag( headline_path(headline.id), method: 'patch') do %>
      <%= hidden_field_tag('story_id', @story.id) %>
       <div class="form-group" role="group">
         <%= text_area_tag(:headline, headline.headline , rows: 4, class: 'form-control input-sm') %>
      </div> <!-- textarea -->
       <div class="btn-group btn-group-xs" role="group" aria-label="...">
      <%= link_to('Close', hl_collapse_name_a, class: 'btn btn-default', role: 'button', data: {toggle: 'collapse'}, aria_expanded: false, aria_control: hl_collapse_name) %>
      <%= submit_tag('Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }) %></div> <!-- close, save btn group -->
      <% end %>  
  </div> <!-- well -->
</div></p> <!-- collapse -->

<p><div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
  <%= form_tag( headline_path( headline.id ), method: :delete ) do %>
  <%= hidden_field_tag('story_id', @story.id) %>
  <div class="btn-group btn-group-xs" role="group" aria-label="Edit Delete button group">
     <%= link_to( hl_collapse_name_a, class: 'btn btn-default', role: 'button', type: 'button', data: {toggle: 'collapse'}, aria_expanded: false, aria_control: hl_collapse_name) do %><i class="fa fa-pencil-square-o"></i> Edit<% end %>
    <%= submit_tag( 'Delete', class: 'btn btn-default btn-danger', role: 'button', data: {confirm: "Deleting the headline like this will permenantly destroy it. Are you sure you just don't want to add a new headline?"}) %>
  <% end %>
  </div> <!-- edit, delete btn group -->

  <%= form_tag( make_headline_active_path( headline.id ), method: :post ) do %>
  <%= hidden_field_tag('story_id', @story.id) %>
  <div class="btn-group btn-group-xs" role="group" aria-label="Make Active">
    <button class="btn btn-default pull-right" role="button" type="submit"><i class="fa fa-star"></i> Make Active</button>
    <% end %>
  </div> <!-- active btn group -->    
</div></p> <!-- controls -->

</li><% end %> <!-- list item -->